@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* navタグのスタイリング */
nav {
  border-bottom: 1px solid silver;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
}

nav > a {
  margin-left: 8px;
}
